name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  workflow_call:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.github/workflows/release.yml'

jobs:
  build-Ubuntu:
    name: "Build Appimage on Ubuntu"
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - run: sudo apt update
      - run: sudo apt install libopengl-dev libopenal-dev xorg-dev libgl-dev libflac++-dev libudev-dev libvorbis-dev libfuse2
        
      - name: Configure the project with CMake
        run: cmake -B build
        
      - name: Compile and build AppImage
        run: make -C build AppImage

      - name: Save AppImage
        uses: actions/upload-artifact@v4
        with:
          name: AppImage
          path: build/Game_of_life*
  build-Windows:
    name: "Build on Windows"
    runs-on: windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Configure the project with cmake
        run: cmake . -G "MinGW Makefiles" 

      - name: Compile
        run: mingw32-make

      - name: Save executable
        uses: actions/upload-artifact@v4
        with:
          name: Windows executable
          path: game-of-life.exe